* {
padding: 0;
margin: 0;
}

.fright {
    float: right;
}

.fleft {
    float: left;
}

.m-left {
    margin-left: 10px;
}

.m-right {
    margin-right: 10px;
}

.m-top {
    margin-top: 10px;
}

.m-bottom {
    margin-bottom: 10px;
}
.wrapper {
width: 100%;
overflow: auto;
clear: both;
}

.footer{
border-top: 4px solid #53bd84;
background: #2d2d2d;
color: #53bd84;
font-size: 14px;
width: 100%;
overflow: auto;
clear: both;
}
.copyright {
display: inline-block;
}
/*************************************
 * Main menu
 ************************************/

 .fool-menu {
background-color:#53bd84;
height:50px;
line-height:50px;
position:relative;
width:100%;
margin:auto;
margin-top:0;
 }

@media screen and (max-width: 767px){
    .fool-menu {
    width: 150px;
    height: 100%;
    margin: 0;
    display: inline-block;
    float: left;
    }
}

 .fool-menu ul {
list-style:none;
 }

 .fool-menu ul li a {
float:left;
width:150px;
display:block;
text-align:center;
color:#FFF;
text-decoration:none;
text-transform:uppercase;
 }

 .fool-menu ul li a:hover {
background-color:#666;
display:block;
 }

 .fool-menu ul li:hover ul {
display:block;
 }

 .fool-menu ul ul {
display:none;
list-style:none;
position:absolute;
background-color:#53bd84;
left:300px;
top:50px;
width:190px;
 }

@media screen and (max-width: 767px){
    .fool-menu ul ul {
    top:100px;
    left:150px;
    }
}

 .fool-menu ul ul li a {
float:none;
display:block;
padding-left:30px;
text-align:left;
width:160px;
 }

 .fool-menu ul ul li a:hover {
color:#fff;
  }
