* {
padding: 0;
margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, img {
    display: block;
}

.fright {
    float: right;
}

.fleft {
    float: left;
}

.cf {
    width: 100%;
    clear: both;
}

.m-left {
    margin-left: 10px;
}

.m-right {
    margin-right: 10px;
}

.m-top {
    margin-top: 10px;
}

.m-bottom {
    margin-bottom: 10px;
}
.wrapper {
width: 100%;
overflow: auto;
clear: both;
}

.footer{
border-top: 4px solid #53bd84;
background: #2d2d2d;
color: #53bd84;
font-size: 14px;
width: 100%;
overflow: auto;
clear: both;
}
.copyright {
display: inline-block;
}
@media screen and (max-width: 767px){
    .wrapper {
        margin-left: 45px;
        width: calc(100% - 45px);
        width: -moz-calc(100% - 45px);
        width: -webkit-calc(100% - 45px);
    }
    .footer{
        margin-left: 45px;
        width: calc(100% - 45px);
        width: -moz-calc(100% - 45px);
        width: -webkit-calc(100% - 45px);
    }
}
/*************************************
 * Main menu
 ************************************/

 .fool-menu {
background-color:#53bd84;
height:50px;
line-height:50px;
position:relative;
width:100%;
margin:auto;
margin-top:0;
}
@media screen and (min-width: 768px){
     .fool-menu {
    display:block;
    }
}

.left-menu {
position: absolute;
top: 0;
left: 0;
background-color:#53bd84;
display: none;
height: 100%;
width: 45px;
}

@media screen and (max-width: 767px){
    .fool-menu {
    position: absolute;
    top: 0;
    left: 45px;
    width: 150px;
    height: 100%;
    margin: 0;
    display: none;
    /*float: left;*/
    }
    .left-menu {
    display: inline-block;
    }
}

 .fool-menu ul {
list-style:none;
 }

 .fool-menu ul li a {
float:left;
width:150px;
display:block;
text-align:center;
color:#FFF;
text-decoration:none;
text-transform:uppercase;
font-weight: 600;
 }

 .fool-menu ul li a:hover {
background-color:#666;
display:block;
 }

 .fool-menu ul li:hover ul {
display:block;
 }

 .fool-menu ul ul {
display:none;
list-style:none;
position:absolute;
background-color:#53bd84;
left:300px;
top:50px;
width:190px;
 }

@media screen and (max-width: 767px){
    .fool-menu ul ul {
    top:100px;
    left:150px;
    }
}

 .fool-menu ul ul li a {
float:none;
display:block;
padding-left:30px;
text-align:left;
width:160px;
 }

 .fool-menu ul ul li a:hover {
color:#fff;
  }

/************************
 * Toggle
 ***********************/
.navbar-toggle {
    position: relative;
    float: right;
    padding: 5px 3px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0;
    background-color: transparent;
    background-image: none;
    border: 1px solid #fff;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

.navbar-toggle:focus {
    outline: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*******************************
 * Single, Mainfield, Mainaside
 ******************************/
.single {
    width: 96%;
    margin: auto;
}

.mainfield {
    float: left;
    width: calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
    width: -moz-calc(100% - 250px);
    width: -o-calc(100% - 250px);
    width: -ms-calc(100% - 250px);
}

.mainaside {
    float: right;
    width: 250px;
}

@media screen and (max-width: 767px) {
    .mainfield {
        float: none;
        width: 100%;
    }
    .mainaside {
        float: none;
        width: 100%;
    }
}

.widget {
    width: 96%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px #53bd84;
}

.widget ul {
    list-style-type: none;
}

.widget ul li {
    margin: 10px 0;
}

.widget a {
    text-decoration: none;
    font-size: 12px;
    color: #000;
    margin: 0 10px;
}

.widget a:hover {
    text-decoration: underline;
}

.w-title {
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #53bd84;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*******************************
 * Slider
 ******************************/
.slider
{
    position: relative;
    z-index:0;
}

.slider input
{
    display: none;
}
.slider label
{
    bottom: 10px;
    display: inline-block;
    z-index: 2;
    width: 26px;
    height: 27px;
    transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    background: #f4f4f5;
    border: 1px solid #e6e6e6;
    border-bottom-color: #bfbfbf;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 #ffffff, 0 1px 2px #000000;
    text-align: center;
    cursor: pointer;
    font: 14px/27px arial, tahoma;
    color: #333;
}
.slider .selector_list
{
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 11;
}
.slider .item
{
    width: 100%;
    opacity: 1.0;
    transition: opacity 0.0s linear 0.2s;
    -moz-transition: opacity 0.0s linear 0.2s;
    -webkit-transition: opacity 0.0s linear 0.2s;
    -o-transition: opacity 0.0s linear 0.2s;
}

.slider img {
    display:block;
    height: auto;
    width: 100%;
    }

.image-tape:hover .image-tape__item
{
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

.slider .item ~ .item
{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.0;
}
.slider input:nth-of-type(1):checked ~ .selector_list label:nth-of-type(1),
.slider input:nth-of-type(2):checked ~ .selector_list label:nth-of-type(2),
.slider input:nth-of-type(3):checked ~ .selector_list label:nth-of-type(3),
.slider input:nth-of-type(4):checked ~ .selector_list label:nth-of-type(4),
.slider input:nth-of-type(5):checked ~ .selector_list label:nth-of-type(5)
{
    color: #fff;
}
.slider input:nth-of-type(1):checked ~ .item:nth-of-type(1),
.slider input:nth-of-type(2):checked ~ .item:nth-of-type(2),
.slider input:nth-of-type(3):checked ~ .item:nth-of-type(3),
.slider input:nth-of-type(4):checked ~ .item:nth-of-type(4),
.slider input:nth-of-type(5):checked ~ .item:nth-of-type(5)
{
    opacity: 1.0;
    transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    z-index: 6;
}

/* авторотация слайдов */
@keyframes item-autoplay_count_2 {0%{opacity:0;}20%{opacity:1;}50%{opacity:1;}70%{opacity:0;}100%{opacity:0;}}
@keyframes item-autoplay_count_3 {0%{opacity:0;}10%{opacity:1;}33% {opacity:1;}43% {opacity:0;}100%{opacity:0;}}
@keyframes item-autoplay_count_4 {0%{opacity:0;}8% {opacity:1;}25% {opacity:1;}33% {opacity:0;}100%{opacity:0;}}
@keyframes item-autoplay_count_5 {0%{opacity:0;}7% {opacity:1;}20%{opacity:1;}27% {opacity:0;}100%{opacity:0;}}

@-moz-keyframes item-autoplay_count_2 {0%{opacity:0;}20%{opacity:1;}50%{opacity:1;}70%{opacity:0;}100%{opacity:0;}}
@-moz-keyframes item-autoplay_count_3 {0%{opacity:0;}10%{opacity:1;}33% {opacity:1;}43% {opacity:0;}100%{opacity:0;}}
@-moz-keyframes item-autoplay_count_4 {0%{opacity:0;}8% {opacity:1;}25% {opacity:1;}33% {opacity:0;}100%{opacity:0;}}
@-moz-keyframes item-autoplay_count_5 {0%{opacity:0;}7% {opacity:1;}20%{opacity:1;}27% {opacity:0;}100%{opacity:0;}}

@-webkit-keyframes item-autoplay_count_2 {0%{opacity:0;}20%{opacity:1;}50%{opacity:1;}70%{opacity:0;}100%{opacity:0;}}
@-webkit-keyframes item-autoplay_count_3 {0%{opacity:0;}10%{opacity:1;}33% {opacity:1;}43% {opacity:0;}100%{opacity:0;}}
@-webkit-keyframes item-autoplay_count_4 {0%{opacity:0;}8% {opacity:1;}25% {opacity:1;}33% {opacity:0;}100%{opacity:0;}}
@-webkit-keyframes item-autoplay_count_5 {0%{opacity:0;}7% {opacity:1;}20%{opacity:1;}27% {opacity:0;}100%{opacity:0;}}

@-o-keyframes item-autoplay_count_2 {0%{opacity:0;}20%{opacity:1;}50%{opacity:1;}70%{opacity:0;}100%{opacity:0;}}
@-o-keyframes item-autoplay_count_3 {0%{opacity:0;}10%{opacity:1;}33% {opacity:1;}43% {opacity:0;}100%{opacity:0;}}
@-o-keyframes item-autoplay_count_4 {0%{opacity:0;}8% {opacity:1;}25% {opacity:1;}33% {opacity:0;}100%{opacity:0;}}
@-o-keyframes item-autoplay_count_5 {0%{opacity:0;}7% {opacity:1;}20%{opacity:1;}27% {opacity:0;}100%{opacity:0;}}

.slider.slider_count_2 .item
{
    animation: item-autoplay_count_2 10s infinite;
    -moz-animation: item-autoplay_count_2 10s infinite;
    -webkit-animation: item-autoplay_count_2 10s infinite;
    -o-animation: item-autoplay_count_2 10s infinite;
}
.slider.slider_count_3 .item
{
    animation: item-autoplay_count_3 15s infinite;
    -moz-animation: item-autoplay_count_3 15s infinite;
    -webkit-animation: item-autoplay_count_3 15s infinite;
    -o-animation: item-autoplay_count_3 15s infinite;
}
.slider.slider_count_4 .item
{
    animation: item-autoplay_count_4 20s infinite;
    -moz-animation: item-autoplay_count_4 20s infinite;
    -webkit-animation: item-autoplay_count_4 20s infinite;
    -o-animation: item-autoplay_count_4 20s infinite;
}
.slider.slider_count_5 .item
{
    animation: item-autoplay_count_5 25s infinite;
    -moz-animation: item-autoplay_count_5 25s infinite;
    -webkit-animation: item-autoplay_count_5 25s infinite;
    -o-animation: item-autoplay_count_5 25s infinite;
}
.slider .item:nth-of-type(2) {

    animation-delay:5s;-moz-animation-delay:5s;
    -webkit-animation-delay:5s;-o-animation-delay:5s;
}
.slider .item:nth-of-type(3) {
    animation-delay:10s;
    -moz-animation-delay:10s;
    -webkit-animation-delay:10s;
    -o-animation-delay:10s;
}
.slider .item:nth-of-type(4){
    animation-delay:15s;
    -moz-animation-delay:15s;
    -webkit-animation-delay:15s;
    -o-animation-delay:15s;
}
.slider .item:nth-of-type(5){
    animation-delay:20s;
    -moz-animation-delay:20s;
    -webkit-animation-delay:20s;
    -o-animation-delay:20s;
}

.slider input:checked ~ .item
{
    animation: none;
    -moz-animation: none;
    -webkit-animation: none;
    -o-animation: none;
}


.slider label:hover
{
    background: #dfdfdf;
}
.slider input:nth-of-type(1):checked ~ .selector_list label:nth-of-type(1),
.slider input:nth-of-type(2):checked ~ .selector_list label:nth-of-type(2),
.slider input:nth-of-type(3):checked ~ .selector_list label:nth-of-type(3),
.slider input:nth-of-type(4):checked ~ .selector_list label:nth-of-type(4),
.slider input:nth-of-type(5):checked ~ .selector_list label:nth-of-type(5)
{
    background: #ac2827;
}

/***************************************
 * Contact Form
 * ************************************/
.contact-form {
    width: 100%;
    margin-top: 20px;
}

.contact-left {
    float: left;
    width: 131px;
}

.contact-right {
    float: right;
    width: -moz-calc(100% - 155px);
    width: -webkit-calc(100% - 155px);
    width: calc(100% - 155px);
}

.contact-name, .contact-email, .contact-theme, .contact-textarea {
    position: relative;
}

.contact-name input[type="text"],
.contact-email input[type="text"],
.contact-theme input[type="text"] {
    position: relative;
    width: 100px;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 31px;
    margin: 0 0 20px;
    background: #f7f7f7 url(../img/nameid.png) no-repeat 2px 0;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0.5px 0.5px 3px #000;
    font: normal 13px Arial, sans-serif;
    color: #434343;
}
.contact-email input[type="text"] {
    background: #f7f7f7 url(../img/mailid.png) no-repeat 0 0;
}
.contact-theme input[type="text"] {
    background: #f7f7f7 url(../img/url.png) no-repeat 2px 0;
}

.contact-textarea textarea {
    position: relative;
    width: -moz-calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    height: 116px;
    padding: 7px 10px;
    margin: 0 0 18px;
    background: #f7f7f7;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0.5px 0.5px 3px #000;
    font: normal 13px Arial, sans-serif;
    color: #434343;
}

.contact-name input[type="text"]:focus, .contact-email input[type="text"]:focus, .contact-theme input[type="text"]:focus, .contact-textarea textarea:focus, .contact-submit:focus {
    outline: none;
    box-shadow: 0 0 5px #aaaaad;
}

.contact-submit {
    float: right;
    width: 120px;
    padding-top: 7px;
    padding-bottom: 4px;
    margin: 0 0 15px;
    background: #53bd84;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    color: #fff;
    transition: background-color ease-in-out .15s;
    cursor: pointer;
}
.contact-submit:hover {
    background: #e7665b;
}

.contact-message {
    width: 100%;
    height: 22px;
    padding: 70px 0;
    text-align: center;
    font: normal 22px 'Roboto Condensed', sans-serif;
    color: #434343;
}

.error, .errorss {
    position: absolute;
    bottom: 0;
    left: 10px;
    font: normal 12px 'Roboto Condensed', sans-serif;
    color: red;
    z-index: 999;
}

/*******************************************
 * Resume
 ******************************************/
.resume {
    margin-top: 10px;
}

.resume table tr td {
    padding: 10px 5px 10px 10px;
    vertical-align: top;
}
